<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1> {{ todo_detail.name }} </h1>
            <p><a href="{% url 'todo_list_update' todo_detail.id %}">Edit</a></p>
            <p><a href="{% url 'todo_list_delete' todo_detail.id %}">Delete</a></p>
            <h2> Tasks </h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tasks in todo_detail.items.all %}
                    <tr>
                        {% comment %} <td> <a href="{% url 'todo_item_update' tasks.id %}"> {{tasks.task}}</a></td> {% endcomment %}
                        <td> <a href="{% url 'todo_item_update' id=tasks.id %}"> {{tasks.task}}</a></td>
                        <td> {{tasks.due_date}} </td>
                    </tr>
                    {% endfor %}
                </tbody>
        </div>
        </table>
    </main>

</body>
</html>
